.App {
  text-align: center;
}

img{
width: 100%;
}
 
.container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.movie_pic{
  flex: 1;
  padding: opx;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: azure;
  background-color: slategray;
  opacity: .65;
}

.movie_pic:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  .container {
    flex-direction: column;
  }
}